/* Creating and Using Variables */

// File Imported

@import 'variable';
@import 'mixins';
@import 'card';

body {
    font-family: $fonts;
    background-color: $primary-color;
    padding: $spacing;
    min-height: 100vh;
    @include flex-center();
    
}